/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Azul claro para el fondo */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* Fondo blanco para el contenedor */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.3); /* Sombra azul */
}

.employee-image {
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%;
}

h2 {
    font-size: 20px;
    color: #007bff; /* Azul brillante para el texto de los títulos */
    margin-bottom: 10px;
}

input[type="number"],
select {
    width: calc(100% - 20px); /* Ajustamos el ancho para tener en cuenta el padding */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #007bff; /* Borde azul brillante */
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="number"]:focus,
select:focus {
    outline: none;
    border-color: #0056b3; /* Cambiamos el color del borde cuando está enfocado a un azul más oscuro */
}

#resultado,
#resultado1 {
    font-size: 18px;
    color: #0056b3; /* Azul oscuro para el texto de los resultados */
    margin-top: 20px;
}
